.selectArea{
    position: relative;
    height: 40px;
    width: 100%;
    
    font-weight: 700;
    font-family: inherit;
    
}
optgroup{
    font-weight: 700;
    font-family: inherit;
    font-size: 34px!important;
}

.div_central{
    width: 100%;
    position: relative;
    text-align: center;
}

.imagem{
    margin-top: 20px;
    width: 250px;
    height: 50px;
}

table img{
    width: 200px;
    height: 200px;
}

table td{
    text-align: left;
    vertical-align: top;
};

body{
    background-color: #98FB98;
}

.cabecalho{
    color: black;
   font-size: 25px
}

#navCabecalho{
    background-color: #86afd7;
}
.imgRevista{
    width:200px;
    height: 250px;
}

.divTexto{
}
.divImagem{
}

.fonteh1{
    font-family: inherit ;
    font-weight: 600;
    text-align: center;
}

.fonteParagrafo{
    font-size: 1.25rem;
    font-family: inherit;
}

.row{
    color: black;
}

a{
    color:black;
    text-align: center;
    vertical-align: center;
}
.block{
    border:#549ee7;
    border-style: solid;
    border-width: thin;

}

.col-md-4.p-4.block:hover{
    background: #138496;
    color:white;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.col-md-4.p-4.block:active{
    transform: scale(0.98)
}
a:hover{
    color: black;
    text-decoration:none;
}

.thead{
    background: #86afd7;
}
.thButton{
    width: 250px;
}
.btnTh{
    border-radius: 1px;
    background: #86afd7;
    border-color:#86afd7;
    color: black;
    width: 100%;
}

body{
    height: 100vh;
}
.lastPosts{
    height: 55vh;
    display: block;
    overflow-y: scroll;
}
.revistas{
    margin-top: 40px;
}
.revistaBlock{
    margin-left: 10vh;
    margin-right: 10vh;
    background: #86afd761;
    margin-bottom: 10px;
}
.revistaContent{
    padding: 15px;
    display: flex;
}
.text-primary{
    color:black !important;
}
.line{
    width: 100%;
    background: white;
    height: 2px;
    display: block;
}
.checked {
    color: orange;
}
body{
    padding: 0px;
}
a.nav-item.nav-link{
    text-align: left;    
    border: #a5c4e1;
    border-left-width: 1px;
    border-left-style: solid;
}
a.nav-item.nav-link:hover{
    background: #145b9e1f;
}
.navbar{
    padding: .5rem 1rem;
}
.bg-blue{
    background: #86afd7
}
.line.blue{
    background: #a5c4e1;
}
